*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: #000000;
}

:root{
    --Cor-Branca: #FFF;
}

.Div-Page{
    margin: 5px;
    padding: 10px;
    background-color: #20F9;
    gap: 8px;

    display: grid;
    grid-template-areas: 
        "Header Header"
        "Aside Article"
        "Section-Meio Section-Meio"
        "Footer Footer"
    ;

    grid-auto-rows: auto;
    grid-template-rows: repeat(4, auto);
}

.Div-Page>header, .Div-Page>aside, .Div-Page>article, .Div-Page>section, .Div-Page>Footer{
    border: 2px solid gold;
}

.Div-Page>header{
    grid-area: Header;
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    gap: 36px;
    height: auto;

    background-color: grey;
    justify-content: space-around;
    padding: 4px;

    >div:nth-child(1){
        grid-column: 1;

        display: flex;
        align-items: center;
        gap: 12px;
        /* border: 1px solid red; */
        
        >img{
            border-radius: 22px;
            width: 52px;
            height: 52px;
        }

        h3{
            color: white;
            font-size: 26px;
        }
    }

    >nav{
        /* border: 1px solid red; */
        padding: 20px 0;

        >ul{
            display: flex;
            justify-content: space-around;

            >li{
                background-color: rgba(255, 140, 0, 0.7);
                padding: 6px;
                border-radius: 14px;
                transition: transform 0.3s ease, opacity 0.3s ease-in;

                >a{
                    color: var(--Cor-Branca);
                    font-weight: 700;
                    letter-spacing: 2px;
                }
            }
            li:hover{
                opacity: 0.7;
                transform: rotate(-6deg) scale(1.1);
            }
        }
    }
    
    >div:nth-child(3){
        grid-column: 3;

        display: flex;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid red; */

        a{
            font-size: 20px;
            transition: transform 0.3s ease-in color 0.3s step-end;
            color: orange;
        }
        a:hover{
            transform: rotate(8deg) scale(1.1);
            color: rgba(255, 166, 0, 0.7);
        }
    }
}

.Div-Page>aside{
    grid-area: Aside;
    background-color: yellow;
}
.Div-Page>article{
    grid-area: Article;
    background-color: green;
}

/* Main Trabalhando */
.Div-Page>section{
    grid-area: Section-Meio;
    background-color: yellowgreen;

    display: grid;
    gap: 8px;
    padding: 6px;
    grid-auto-rows: auto;

    div{
        background-color: aqua;
        padding: 6px;
    }

    >div:nth-child(1){ /*Header*/
        background-color: rgba(128, 128, 128, 0.7);
    }
    >div:nth-child(2){ /*Sections*/
        background-color: aqua;

        >main{
            display: grid;
            gap: 22px;

            .Linha-HR{
                padding: 4px;
                background-color: black;
                border-radius: 6px;
            }

            section{
                width: 100%;
                
                >div:nth-child(1){
                    border: 1px solid red;
                    
                    h2{
                        color: darkblue;
                        font-weight: 700;
                        letter-spacing: 2px;
                    }
                }

                >div:nth-child(2){
                    border: 1px solid yellow;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-auto-rows: auto;
                    gap: 8px;
                    
                    >div{
                        margin: 4px 0;
                        border: 1px solid darkcyan;
                        
                        div{
                            border: 1px solid blue;
                        }
                    }
                }
            }
        }
    }
    >div:nth-child(3){ /*Footer*/
        background-color: rgba(128, 128, 128, 0.7);
    }
}

.Div-Page>footer{
    grid-area: Footer;
    background-color: gray;
}